* {
  margin: 0;
  box-sizing: border-box;
}

#root {
  --theme-primary-color: #5792c9;
  --theme-secondary-color: #3c668c;
}

.theme-button {
  background-color: #5792c9;
  color: #fff;
  padding: 8px 20px;
  outline: none;
  border: none;
  border-radius: 3px;
}

.theme-button:hover {
  background-color: #3c668c;
  color: #fff;
}

.theme-button:active {
  background-color: #3c668c !important;
  color: #fff !important;
}

.delete-btn {
  padding: 8px 20px;
  outline: none;
  border: none;
  border-radius: 3px;
}

.active-tab svg {
  color: white !important;
}

.active-tab {
  background-color: #5792c9 !important;
  color: white !important;
}

/* .active-tab {
  background-color: #5792c9 !important;
  color: white !important;
}

.active-icon {
  color: white !important;
} */

/* App header */

.App-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #333 !important;
  background-color: white !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  flex-direction: row !important;
  position: fixed;
}

.App-header-title {
  text-wrap: nowrap;
}

.App-header-icon-menu {
  margin-right: 120px;
  margin-left: 20px;
  visibility: hidden;
}

.profile-icon {
  display: flex;
  align-items: center;
  text-align: center;
}

.profile-icon-button {
  display: "inline-flex";
  align-items: "center";
  margin-left: 16px;
  margin-right: 16px;
}

.profile-icon-option:hover {
  background-color: #5792c9 !important;
  color: white;
}

.profile-icon-i {
  color: #5792c9 !important;
}

.profile-icon-i:hover {
  color: white !important;
}

/* create a media query for sm screen */
@media (max-width: 767.98px) {
  .App-header-icon-menu {
    display: block !important;
    visibility: visible;
  }
}

/* App sidebar */

/* Styles for the container div */
.drawer-container {
  width: var(--drawer-width);
  flex-shrink: 0;
}

/* Styles for the Drawer paper */
.drawer-paper {
  box-sizing: border-box;
  width: var(--drawer-width);
}

/* ------------------------------------------------------------- */

/* Hide drawer on mobile by default */
@media (max-width: 767.98px) {
  .drawer-container {
    display: none;
  }

  .drawer-temmporary {
    display: none;
  }
  .drawer-permanent {
    display: none;
  }
}

/* Show drawer on larger screens */
@media (min-width: 768px) {
  .drawer-container {
    display: block; /* Ensure it's visible on larger screens */
  }

  .drawer-temmporary {
    display: block;
  }

  .drawer-permanent {
    display: block;
  }
}

/* Dashboard layout */

.Dashboard-layout-container {
  display: flex;
}

.Dashboard-layout-main {
  flex-grow: 1;
  padding: 16px;
  padding-bottom: 50px;
}

/* Forgot password */

/* Reset margin and padding for the root */
html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Container for the entire layout */
.forgot-password-container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

/* Styling for the form section */
.forgot-password-form-container {
  flex: 4; /* 40% of the width */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  height: 100%;
  background-color: #f5f5f5;
}

/* Styling for the form itself */
.forgot-password-form {
  width: 100%;
  max-width: 500px;
  padding: 3rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.forgot-password-form form {
  width: 100%;
}

.forgot-password-form .input-field {
  width: 100%;
}

/* Logo styling */
.forgot-password-logo {
  width: 100px;
  height: auto;
  margin-bottom: 1rem;
}

/* Title styling */
.forgot-password-title {
  margin-bottom: 1rem;
  font-size: 24px;
}

/* Description styling */
.forgot-password-description {
  margin-bottom: 1.5rem;
  text-align: center;
}

/* Image section styling */
.forgot-password-image {
  flex: 6; /* 60% of the width */
  background-size: cover;
  background-position: center;
  height: 100%;
  display: none; /* Hide by default */

  /* Add a background image via inline styles in React component */
}

@media (min-width: 768px) {
  .forgot-password-image {
    display: block; /* Show on medium screens and up */
  }
}

/* Login */

/* Reset margin and padding for the root */
html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Container for the entire layout */
.login-container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

/* Styling for the form section */
.login-form-container {
  flex: 4; /* 40% of the width */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  height: 100%;
  background-color: #f5f5f5;
}

/* Styling for the form itself */
.login-form {
  width: 100%;
  max-width: 500px;
  padding: 3rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form form {
  width: 100%;
}

.login-form .input-field {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.login input {
  width: 100%;
  padding: 0.5rem;
  margin: 0.5rem 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Logo styling */
.login-logo {
  width: 100px;
  height: auto;
  margin-bottom: 1rem;
}

/* Title styling */
.login-title {
  margin-bottom: 1rem;
  font-size: 24px;
}

/* Image section styling */
.login-image {
  flex: 6; /* 60% of the width */
  /* background-image: url('../../Assests/Images/login-img.jpg'); Replace with your image URL */
  background-size: cover;
  background-position: center;
  height: 100%;
  display: none; /* Hide by default */
}

.up {
  margin-top: -15px;
  color: var(--theme-secondary-color);
}

@media (min-width: 768px) {
  .login-image {
    display: block; /* Show on medium screens and up */
  }
}

/* Verification Screen*/

/* Reset margin and padding for the root */
html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Container for the entire layout */
.verify-code-container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

/* Styling for the form section */
.verify-code-form-container {
  flex: 4; /* 40% of the width */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  height: 100%;
  background-color: #f5f5f5;
}

/* Styling for the form itself */
.verify-code-form {
  width: 100%;
  max-width: 500px;
  padding: 3rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.verify-code-form form {
  width: 100%;
}

.verify-code-form .input-field {
  width: 100%;
}
/* Logo styling */
.verify-code-logo {
  width: 100px;
  height: auto;
  margin-bottom: 1rem;
}

/* Title styling */
.verify-code-title {
  margin-bottom: 1rem;
  font-size: 24px;
}

/* Description styling */
.verify-code-description {
  margin-bottom: 1.5rem;
}

.verification-input-field {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center !important;
}

.otp-input {
  width: 3rem !important;
  height: 3rem;
  text-align: center;
  font-size: 1.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 0 0.25rem;
}

/*-------------------------- Exhibitor */
.exhibitor-table {
  width: 100%;
}
/* create form where each line has 2 fields */
.exhibitor-form-div {
  width: 700px;
  max-width: 100%;
}

.exhibitor-form-heading {
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  margin: 20px 0;
}

.exhibitor-form-input {
  box-shadow: 0px 0px 15px #8080803b;
}

.exhibitor-form-submit {
  margin: 10px !important;
}

.exhibitor-form-div-close {
  border-radius: 100% !important;
  height: 30px !important;
  width: 30px !important;
  margin: 0 !important;
  padding: 0 !important;
}

.close-icon {
  font-size: 30px !important;
  border: 1px solid black;
  /* border-radius: 100% !important; */
  /* padding: 2px !important; */
}

.cross-icon {
  font-size: 30px;
  margin-right: 10px;
  cursor: pointer;
}

.drawer-title {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 0;
  color: #5792c9;
}

.close-button {
  font-size: 29px;
  margin: 4px;
  color: #5792c9;
  background-color: #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: #5792c938;
}

.modal {
  background-color: rgb(0 0 0 / 21%) important;
}

.modal-modal-title {
  color: #5792c9 !important;
}

.delete-modal {
  border: none !important;
  outline: none !important;
  border-radius: 5px !important;
  position: relative;
}

.delete-modal-close {
  position: absolute;
  top: 5px;
  right: 5px;

  font-size: 29px;
  margin: 4px;
  color: #5792c9;
  background-color: #fff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: #5792c938;
}

.divider {
  background-color: rgb(158, 158, 158);
}

/* Add update Speaker form */
.main-speaker-div {
  flex: 4; /* 40% of the width */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  height: 100%;
}

.speaker-form-div {
  width: 100%;
  max-width: 400px;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.speaker-form-div h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #5792c9;
}

.speaker-form-input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
}

/* table  */

.menu-icon {
  transition: all 0.3s ease-in-out;
  padding: 2px 10px;
  border-radius: 50%;
  margin-top: 5px;
  cursor: pointer;
}

.menu-icon:hover {
  background-color: #dae7f3;
}

/* update profile */
.phone-input {
  width: 100% !important;
  height: 56px;
  border-radius: 4px;
  /* outline:  ;
  border: ; */
}

.profile-update-heading {
  font-size: 30px;
  margin: 20px 0;
  color: #5792c9;
}

.custom-input {
  width: 100%;
  padding: 15px;
  font-size: 16px;
  border: 1px solid #c8c8c8; /* Default border color */
  /* border: 1px solid #ced4da; Default border color */
  border-radius: 4px;
  outline: none;
  /* transition: border-color 0.3s ease, box-shadow 0.3s ease; */
}

/* MUI-like focused state with primary color */
.custom-input:focus {
  border-color: #5792c9; /* MUI primary color */
  border-width: 2px;
  /* box-shadow: 0px 0px 0px 2px rgba(63, 81, 181, 0.2); Mimics MUI focus shadow */
  box-shadow: none;
}

.custom-input:active {
  border-color: #5792c9; /* MUI primary color */
}

/* Placeholder color */
.custom-input::placeholder {
  color: #6c757d;
}

/* Hover effect similar to MUI */
.custom-input:not(:focus):hover {
  border-color: #000;
}

.custom-textarea {
  border: 1px solid #c8c8c8;
  outline: none;
}

.custom-textarea:focus {
  border-color: #5792c9; /* MUI primary color */
  border-width: 2px;
  /* box-shadow: 0px 0px 0px 2px rgba(63, 81, 181, 0.2); Mimics MUI focus shadow */
  box-shadow: none;
}

.custom-textarea:active {
  border-color: #5792c9; /* MUI primary color */
}

.custom-textarea::placeholder {
  color: #6c757d;
}

.custom-textarea:not(:focus):hover {
  border-color: #000;
}

.test {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
