/* Reset margin and padding for the root */
html, body, #root {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  /* Container for the entire layout */
  .verify-code-container {
    display: flex;
    height: 100vh;
    overflow: hidden;
  }
  
  /* Styling for the form section */
  .verify-code-form-container {
    flex: 4; /* 40% of the width */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    height: 100%;
    background-color: #f5f5f5;
  }
  
  /* Styling for the form itself */
  .verify-code-form {
    width: 100%;
    max-width: 500px;
    padding: 3rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .verify-code-form form {
    width: 100%;
  }

  .verify-code-form .input-field {
    width: 100%;
  }
  /* Logo styling */
  .verify-code-logo {
    width: 100px;
    height: auto;
    margin-bottom: 1rem;
  }
  
  /* Title styling */
  .verify-code-title {
    margin-bottom: 1rem;
    font-size: 24px;
  }
  
  /* Description styling */
  .verify-code-description {
    margin-bottom: 1.5rem;
  }
  
  /* OTP input fields styling */
  /* .otp-inputs {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1.5rem;
    text-align: center;
  }
  
  .otp-input {
    width: 3rem;
    height: 3rem;
    text-align: center;
    font-size: 1.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 0 0.25rem;
  } */

   /* .otp-inputs {
  display: flex;
  justify-content: center; 
  gap: 0.5rem; 
  margin-bottom: 1.5rem;
} */

.verification-input-field {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center !important;
}


.otp-input {
  width: 3rem;
  height: 3rem;
  text-align: center;
  font-size: 1.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 0 0.25rem;
}
  

  