*{
  margin: 0;
  box-sizing: border-box;
}
#root {
  --theme-primary-color: #5792c9;
  --theme-secondary-color: #3c668c;
}


.active {
  background-color: var(--theme-primary-color) !important; 
  color: white !important;
}

.active-icons {
  background-color: white !important;
  color: white !important;
}